#GEMINI_API_KEY，W2V_MODEL_PATHを含む.envファイルを無視する
.env

# SST-2 ディレクトリはファイルサイズが大きいため、Git 管理対象外とする（どの階層にあっても、SST-2 というディレクトリをすべて無視できる）
**/SST-2/

# Fashion-MNISTはファイルサイズが大きいため、Git 管理対象外とする．
**/FashionMNIST/

# img_fashionディレクトリはファイルサイズが大きいため、Git 管理対象外とする．
**/img_fashion/